/* ============================== Konfigurasi Font ===================================== */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



@font-face {
    font-family: "Satoshi";
    src: url(/font/Satoshi-Variable.ttf);
}

@font-face {
    font-family: "Cinderblock";
    src: url(/font/Cinderblock/Cinderblock_75.otf);
}

@font-face {
    font-family: "Clash-Display";
    src: url(/font/ClashDisplay-Variable.ttf);
}

@font-face {
    font-family: "PP-Neue-Montreal-Book";
    src: url(/font/ppneuemontreal-book.otf);
}

@font-face {
    font-family: "PP-Neue-Montreal-Medium";
    src: url(/font/ppneuemontreal-medium.otf);
}



html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marginatas {
    height: 90px;
}

.white {
    background-color: #F1F2EB;
}

.dark-bg {
    background-color: #121212;
}

/* Update global reset di main.css */
a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none !important;
    color: inherit;
    /* Supaya warna teks mengikuti parent-nya, bukan biru default */
}

.intro {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F1F2EB;
    transition: 1s;
}

.logoheader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #091B22;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: "satoshi";
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}








/* ============================== Hero Section ===================================== */

.hero-section {
    position: relative;
    z-index: 1;
    background: #F1F2EB;
    margin: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding: 80px;
    position: relative;
    background: #121212;
    overflow: hidden;
    z-index: 1;
    min-height: 60vh;
    min-width: 100vw;
    padding-left: 200px;
}

.welcome-text {
    position: relative;
    padding-bottom: 80px;
    padding-top: 200px;
}

.welcome-text img {
    width: 60vw;
}

.welcome-caption {
    font-family: "Satoshi";
    font-size: 18px;
    text-align: justify;
    color: #F1F2EB;
}

.welcome-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100vw;
    z-index: -2;
}

.welcome-img img {
    height: auto;
    width: 40vw;
}

.scroll-circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.scroll-more {
    color: #F1F2EB;
    font-family: "Satoshi";
    font-size: 12px;
}


.circle-rotate img {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* ===================================== Setup Infinite marquee ==================================== */
.infinite {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 20px;
    background: #121212;
}



@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.infinite-scroll {
    white-space: nowrap;
    padding-right: 20px;
    letter-spacing: 10px;
    animation: move-rtl 38000ms linear infinite;
    color: #F8F6F0;
    font-family: "PP-Neue-Montreal-Book";
    font-size: 120px;
}

.infinite-1 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 20px;
    background: #121212;
}

.infinite-1 img {
    white-space: nowrap;
    padding-right: 14px;
    letter-spacing: 20px;
    animation: move-rtl 23000ms linear infinite;
}

.infinite-2 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    /* padding-bottom: 150px; */
    background: #121212;
}


.infinite-2 img {
    white-space: nowrap;
    padding-right: 18px;
    letter-spacing: 20px;
    animation: move-ltr 23000ms linear infinite;
}

@keyframes move-ltr {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.infinite-3 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 80px;
    background: #121212;
}

.infinite-3 img {
    white-space: nowrap;
    padding-right: 19px;
    letter-spacing: 20px;
    animation: move-rtl 23000ms linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



/* ============================== Showcase Section ===================================== */
.showcase-section {
    display: flex;
    background: #121212;
    place-content: center;
}

.showcase {
    display: flex;
    place-content: center;
    max-width: 100vw;
    overflow: hidden;
    padding: 150px 10px 80px;
}

.showcase-1 {
    max-width: 100%;
}

.showcase-1 img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.display-1,
.display-2-wrapper {
    padding: 10px;
}

.display-2-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}





/* ============================== About Section ===================================== */

.about-section {
    /* background: #4C07DE; */
    background: #121212;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 80px;
    position: relative;
}

.about-title {
    font-family: "PP-Neue-Montreal-Book";
    font-size: 96px;
    line-height: 98px;
    color: #F8F6F0;
    /* padding-top: 80px; */
    margin-bottom: 48px;
    width: 80%;
}

.about-title span {
    /* -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: transparent; */
    color: #B4B4B4;
}

.about-description {
    font-family: "PP-Neue-Montreal-Book";
    font-size: 20px;
    color: #f1f2ebc1;
    width: 60%;
    align-self: flex-end;
    text-align: left;
}


.about p a {
    text-decoration: none;
    color: #F8F6F0;
    font-weight: 700;
}



/* ============================== Web Section ===================================== */

.web-section {
    display: flex;
    background: #121212;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* .website-projects {
    font-family: "PP-Neue-Montreal-Medium";
    
    color: #F8F6F0;
    max-width: 100vw;
    font-size: 118px;
    padding-bottom: 10px;
} */

.website-projects {
    color: #F8F6F0;
    font-family: "Cinderblock";
    font-size: 250px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.daftar-web {
    display: flex;
    border-bottom: 1px solid #ddddddbe;
    /* width: 95vw; */
    padding: 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.nama-web {
    font-family: "PP-Neue-Montreal-Medium";
    text-transform: uppercase;
    color: #F8F6F0;
    font-size: 28px;
    mix-blend-mode: difference;
}

.arrow-web {
    display: flex;
    float: right;
}

.arrow-web img {
    margin: 0;
    display: block;
    align-self: flex-end;
    max-width: 80%;
}


.daftar-web:hover {
    border-bottom: 1px solid #F8F6F0;
    padding-left: 15px;
}

/* ============================== The Blog Section ===================================== */
.the-blog {
    display: flex;
    background: #121212;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 50px;
}


.theblog-title {
    color: #F8F6F0;
    font-family: "Cinderblock";
    font-size: 250px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.the-blog-wrap {
    display: flex;
    padding: 0;
}

.the-blog-colum a {
    display: flex;
    flex-wrap: nowrap;
    /* padding-bottom: 42px; */
    border-bottom: 0.7px solid #9b9b9b;
    width: 100%;
    justify-content: space-evenly;
}


.the-blog-sub {
    border-right: 0.7px solid #9b9b9b;
}

.judul-blog {
    color: #F8F6F0;
    font-family: "PP-Neue-Montreal-Medium";
    font-size: 32px;
    padding-bottom: 20px;
}

.blog-read {
    color: #8d8d8d;
    font-family: "PP-Neue-Montreal-Book";
    font-size: 16px;
}

.the-blog-arrow {
    align-content: end;
    justify-self: center;
    padding-left: 20px;
}

.the-blog-arrow img {
    max-width: 30%;
}

.the-blog-img,
.the-blog-sub,
.the-blog-arrow {
    padding-bottom: 42px;
    padding-top: 30px;
}



/* ============================== The Works Section ===================================== */

.the-works-section {
    display: flex;
    flex-direction: column;
    background: #121212;
    overflow: hidden;
    padding-top: 80px;
}

.the-works {
    color: #F8F6F0;
    font-family: "Cinderblock";
    font-size: 250px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.works-list {
    padding-bottom: 180px;
}

.works-wrap {
    display: flex;
    flex-direction: row;
}

.works-title {
    color: #F8F6F0;
    font-family: "PP-Neue-Montreal-Medium";
    font-size: 48px;
    line-height: 80px;
    padding-bottom: 20px;
}

.works-desc {
    color: #aeadad;
    font-family: "PP-Neue-Montreal-Book";
    font-size: 16px;
    line-height: 28px;
}

.work-right {
    align-content: center;
    text-align-last: right;
    display: inline;
}

.client {
    color: #F8F6F0;
    font-family: "PP-Neue-Montreal-Medium";
    font-size: 20px;
    line-height: 38px;
}

.client-name {
    color: #aeadad;
    font-family: "PP-Neue-Montreal-Book";
    font-size: 18px;
}

.works-image {
    padding-top: 80px;
    display: grid;
    place-items: center;
}

.works-image img {
    display: inline;
    max-width: 100vw;
}




/* ============================== Footer Section ===================================== */

.footer {
    background: #121212;
    padding: 180px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img {
    max-width: 40vw;
}

.footer-text {
    padding-top: 20px;
    color: #f1f2eb82;
    font-family: "Satoshi";
}